<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>More Info</title>
</head>

<body>

<div class="container">

	<p th:text="'Info for ' + ${specificSubject.title} + ' subject'" class="h3"/>
	<hr>
	
		<p th:text="'Title: ' + ${specificSubject.title}" class="h5"/>
		<hr>
		<p th:text="'Objectives: ' + ${specificSubject.objectives}" class="h5"/>
		<hr>
		<p th:text="'Supervizor: ' + ${specificSubjectProfessor}" class="h5"/>
		<hr>
		
		<td>
			<div th:if="${student.assigned == false}">
				<!-- Add "apply" button/link -->					
				<a th:if="${showButton}" th:href="@{/student/dashboard/apply(subjectId=${specificSubject.id})}"
				   class="btn btn-danger btn-sm"
				   onclick="if (!(confirm('Are you sure you want to apply this subject?'))) return false">
					Apply
				</a>
			</div>
		</td>
	<br>
	<a th:href="@{/student/dashboard/allSubjects}">Back to Subject List</a>
	
</div>
	
</body>
</html>



