<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>My Application Directory</title>

</head>

<body>

<div class="container">

	<h3>My Assigned Diploma List</h3>

	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>StudentName</th>
				<th>Grade</th>
			</tr>
		</thead>
		
		<tbody>
			
			<tr th:each="thesisId: ${thesisList}">
				<div th:each="tempthesisId: ${thesisId}">
					<div th:each="map: ${tempthesisId.value}">
						<div th:each="mapEntry: ${map}">
							<td th:text="${mapEntry.key.title}" />
							<td th:text="${mapEntry.value.fullname}" />
							<td>
								<p th:if="${tempthesisId.key.grade == null}" th:text="'Grade: -'"/>
								<p th:unless="${tempthesisId.key.grade == null}" th:text="'Grade: ' + ${tempthesisId.key.grade}"/>
								<hr>
								<!-- Add "grade" button/link -->					
								<a th:href="@{/professor/dashboard/assignedDiplomaList/grade(thesisId=${tempthesisId.key.id})}"
								   class="btn btn-danger btn-sm">
									Grade
								</a>
							</td>
						</div>
					</div>
				</div>
			</tr>
			
			
		</tbody>		
	</table>
	
	<hr>
	<a th:href="@{/professor/dashboard}">Back to Dashboard</a>
	
</div>
	
</body>
</html>



